$verde: #099d0a;
$white: #fff;
$black: #000;
$colorFooter: #2c2c2c;
$fontLogo: 'Montserrat', sans-serif;
$size1: 1rem;
$size3: 3rem;
$sizeMobile: 0.2rem;
$fontTittle: 'Assistant', sans-serif;
$fontSubTittle: 'Assistant', sans-serif;
$fontMenu: 'Rajdhani', sans-serif;
$fontText: 'Abel', sans-serif;